.idea/
*.eml
*.iml
target/
log/
.directory
*.sc
null/
node_modules/
.bsp/
package-lock.json
.DS_Store
allure-results/
dev/
local-conf/overrides.conf
.bloop
.metals
.vscode
metals.sbt
.trunk
.sbt-cache
.scala-build/